<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.titulo}}</h2>
                <p>Precio: ${{this.precio}}</p>
                <p>Stock: {{this.stock}}</p>
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" style="max-width: 200px;">
            </li>
        {{/each}}
    </ul>
</body>
</html>
